[submodule "nyet"]
	path = nyet
	url = https://github.com/cloudfoundry/nyet.git
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/FreightTrain/C3CI-jenkins.git
[submodule "bosh-mediator"]
	path = bosh-mediator
	url = https://github.com/FreightTrain/bosh-mediator.git
